@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    font-size: 16px;
    font-weight: 300;

    --font-family: 'Quicksand', sans-serif;

    --text: #eee;

    --background: #1e1e1e;
    --background-light: #2b2d30;

    --text-blue: #437af1;
    --text-blue-highlight: #2160ec;

    --button: #2160ec;
    --button-highlight: #174bbb;

    --green: #67c157;
    --red: #f26c4b;
}

head,
body {
    background-color: var(--background);
    font-family: var(--font-family);
    color: var(--text);
}
