@use 'sass-hex-rgb/index.scss' as rgb;
@use 'sass:map';

$dark-100: #29292a;
$dark-200: #212123;
$dark-300: #121214;

$blue-100: #5689f7;
$blue-200: #437af1;
$blue-300: #2160ec;
$blue-400: #174bbb;

$green: #67c157;
$red: #f26c4b;

$light-100: #eee;

// prettier-ignore
$colours: (
    "text": $light-100,

    "background-primary": $dark-300,
    "background-secondary": $dark-200,
    "background-tertiary": $dark-100,

    "primary": $blue-300,
    "primary-hover": $blue-400,

    "secondary": $blue-200,
    "secondary-hover": $blue-100,

    "green": $green,
    "red": $red
);

/* Utility function to return a colour by name */
@function colour($colour) {
	@return map.get($colours, $colour);
}

/* Utility function to return a colour by name as rgb values */
@function colourRGB($colour) {
	@return rgb.toValues(map.get($colours, $colour));
}

@mixin vars() {
	@each $variable, $colour in $colours {
		--#{$variable}: #{$colour};
		--#{$variable}-rgb: #{rgb.toValues($colour)};
	}
}
