@mixin button {
    --background: var(--button);
    --highlight: var(--button-highlight);

    padding: 12px 24px !important;

    background-color: var(--background-primary);
    border: 1px solid var(--background-primary);
    border-radius: 8px;
    font-weight: 400;

    display: inline-block;

    color: var(--text);

    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

    &:hover,
    &:active {
        background-color: var(--highlight);
        border-color: var(--highlight);
        color: var(--text);
    }

    &:focus {
        transition: none;
    }
}

@mixin small() {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 8px 20px !important;
}

@mixin red() {
    --highlight: var(--red);
}

@mixin green() {
    --highlight: var(--green);
}

button,
[role='button'] {
    @include button;

    &.small {
        @include small;
    }

    &.red {
        @include red;
    }

    &.green {
        @include green;
    }
}
