@use '../flow/flex';

@mixin card {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--background-secondary);
    border: 4px solid var(--background-secondary);

    min-width: 250px;

    padding: 32px;
    border-radius: 16px;

    @include flex.column;

    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;

    &:hover:not(&.no-hover) {
        transition: border-color 0.2s ease-in-out;
        border: 4px solid var(--primary-hover);
    }
}

@mixin blue {
    background-color: var(--secondary);
    border: 4px solid var(--secondary);

    &:hover:not(&.no-hover) {
        border-color: var(--primary-hover);
        background-color: var(--primary-hover);
    }
}

card,
.card {
    @include card;

    &.click {
        cursor: pointer;
    }

    &.blue {
        @include blue;
    }
}

a.card {
    cursor: pointer;
    color: var(--text);
}
