@use '../layout/flex';

form {
    @include flex.column;
    gap: 8px;
}

label {
    font-size: 1rem;
}

@mixin base {
    padding: 14px 16px;
    margin: none;

    font-size: 1.2rem;

    background-color: var(--background-tertiary);
    border: 4px solid var(--background-tertiary);
    border-radius: 12px;

    transition: border-color 0.2s ease-in-out;

    width: 100%;

    color: var(--text);

    &.error {
        border-color: var(--red);
    }

    &:active,
    &:focus {
        outline: none;
        border-color: var(--secondary);
    }
}

textarea {
    @include base;

    min-width: 100%;
    max-width: 100%;

    height: 150px;
    max-height: 250px;
}

input:not([type='checkbox']) {
    @include base;
}

input[type='checkbox'] {
    margin: 0px 4px 0px 0px;
}

input[type='color'] {
    padding: 8px;
    height: 48px;
}

input,
textarea {
    &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }
}
