@mixin anchor() {
    color: var(--secondary);

    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--secondary-hover);
    }

    &:focus:not(&[role='button']),
    &:active:not(&[role='button']) {
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        background-color: var(--secondary);
        color: var(--text);

        text-decoration: underline;

        outline: none;
    }
}

a,
.anchor {
    @include anchor;
}
