::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--background-tertiary);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--background-tertiary-rgb), 0.8);
}
