::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--background-secondary);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-tertiary);
}
