::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #222529;
}

::-webkit-scrollbar-thumb {
    background: #57595c;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #76787c;
}
