$gaps: (4, 8, 12, 16, 24, 32);
$baseGap: 12px;

@each $gap in $gaps {
    .g#{$gap} {
        gap: #{$gap}px;
    }
}

.wrap {
    flex-wrap: wrap;
}

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: $baseGap;

    width: 100%;

    &.center {
        text-align: center;
        align-items: center;
    }

    &.vcenter {
        justify-content: center;
    }
}

@mixin row {
    display: flex;
    gap: $baseGap;

    width: 100%;

    &.center {
        justify-content: center;
    }

    &.vcenter {
        align-items: center;
    }
}

.col,
.column {
    @include column;
}

.row {
    @include row;
}
